.forgot-form {  
    text-align: center;
    position: fixed;
    background: rgba(0,0,0,.6);
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 9999999999;
}
.forgot-form-inner {
    width: 400px;
    margin: auto;
    clear: both;
    border-radius: 10px;
    padding: 18px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    height: auto;
    background: #f0f2f7;
    overflow: inherit;
}
.forgot-form-inner h2 {
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
}
.email input {
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.email input:focus {
    border: 1px solid #8f6a5a;
    outline: 0;
}
.forgot-button input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8f6a5a;
    background: #8f6a5a;
    color: #fff;
    cursor: pointer;
    margin: 15px 0 10px 0px;
    text-transform: uppercase;
}
.forgot-button input:hover {
    background: #4a3b3e;
    border: 1px solid #4a3b3e;
}
.forgot-form-inner .cross-button {
    position: absolute;
    right: -13px;
    top: -15px;
    cursor:pointer;
}